*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}
.digitalClock{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
}
.time{
    display: inline-flex;
}
.time div{
    width: 190px;
    height: 190px;
    margin: 5px;
    padding-top: 30px;
    background: #ff5589;
    color:#fff;
    border-radius: 5px;
    font-size: 30px;
}
.time div span{
    font-size: 120px;
    font-weight: 600;
    padding-top: 40px;
    color:#fff;

}